body {
  transition: background-color 2s, color 2s;
  -webkit-transition: background-color 2s, color 2s;
}

#quote-box {
  padding: 10px;
  margin: auto;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  color: inherit;

}

.center-text {
  text-align: center;
}


#text:before {
  content: '\201C';
  font: 4em 'PT Sans', sans-serif;
  line-height: 0.1em;
  margin-right: .1em;
  vertical-align: -.5em;
}

#quote-box-btns {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}

#author {
  margin-left: auto;
}

#new-quote {
  text-align: right;
}

#tweet-quote a {
  color: inherit;
}

.btn {
  border-radius: 5px;
  padding: 10px;
  color: inherit;
}
