#quote-box {
  border: 1px solid black;
  padding: 10px;
  margin: auto;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
}

.center-text {
  text-align: center;
}

#text:before {
  content: '\201C';
  font: 5em 'PT Sans', sans-serif;
}

#quote-box-btns {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}

#author {
  margin-left: auto;
}

#new-quote {
  text-align: right;
}

.btn {
  border-radius: 5px;
  padding: 10px;
}
